* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    min-height: 100vh;
    min-width: 100vw;
    /* background: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); */
    /* background: linear-gradient(to right, #5f2c82, #49a09d); */
    background: #43C6AC;  /* fallback for old browsers */
    background: linear-gradient(180deg, #191654, #43C6AC); 

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2em;
    padding: 4em 3em;
}

.title {
    font-size: 3em;
}

hr {
    width: 100%;
    background-color: white;
    height: 5px;
    border-radius: 1em;
    border: none;
}

.timer {
    font-size: 10em;
    font-weight: 700;
}

.button-wrapper {
    display: flex;
    gap: 1em;
}

button {
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    transform: translateY(-10px);
}

#start {
    background-color: green;
}

#pause {
    background-color: #ffc115;
}

#stop {
    background-color: rgb(255, 47, 47);
}

#reset {
    background-color: rgba(43, 43, 255, 0.8);
}

#small {
    background: linear-gradient(to right, rgb(138, 215, 94), rgb(54, 202, 215));
}

#medium {
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

#large {
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

#custom {
    background: linear-gradient(to right, #00B4DB, #000046);
}

/* Show/Hide duration on button hover */

.btnSmall:hover span {
    display:none
}

.btnMedium:hover span {
    display:none
}

.btnLarge:hover span {
    display:none
}

.btnSmall:hover:before {
    content:"1 Hour";
}

.btnMedium:hover:before {
    content:"1.5 Hour";
}

.btnLarge:hover:before {
    content:"2 Hours";
}

/* Custom Timer */

#custom-timer {
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 1px;
    border: 1.5px black solid;
    border-radius: 0.5em;
    padding: 0.5em;
    color: white;
}

#custom-timer input {
    height: 50px;
    width: 50px;
    font-size: 1em;
    font-weight: 800;
    padding: 5px;
    border-radius: 0.5em;
    border: none;
}

.btnCustom:hover span {
    display:none
}

.btnCustom:hover:before {
    content:"Click to Specify";
}

.input-wrapper {
    display: none;
}

.input-wrapper-show {
    display: block;
}

/* Animation */

.shake {
    animation: shake 0.5s 4; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}